{% extends 'base.html' %} {% load static %} {% block content %}

<main>
  <section
    id="hero-projects-container"
    class="container align-items-center justify-content-center text-center mt-5"
  >
    <div
      class="container d-flex align-items-center justify-content-center text-center"
    >
      <div id="heading-project-row" class="row">
        <div id="text-heading" class="col-lg-4 col-lg-auto col-md-12 col-md-5">
          <h1 class="col-lg-10 col-lg-auto pb-3">{{ project.title }}</h1>
          <h4 class="col-lg-10 col-lg-auto pb-1">About</h4>
          <p class="pb-3">{{ project.description }}</p>
        </div>
        <img
          id="photo-main"
          class="col-lg-8 col-lg-auto col-md-12"
          src="{{project.photo_main.url}}"
          alt=""
        />
      </div>
    </div>

    <div class="container d-flex align-items-center justify-content-evenly text-center mt-5">
        <div id="text-info" class="row col-lg-12 col-md-12  ">
            <span class="col-lg-4 col-md-6 col-sm-6 mb-4"><b>Location: </b>{{project.address}}</span>
            <span class="col-lg-4 col-md-6 col-sm-6 mb-4"><b>City: </b>{{project.city}}</span>
            <span class="col-lg-4 col-md-6 col-sm-6 mb-4"><b>State: </b>{{project.state}}</span>
            <span class="col-lg-6 col-md-6 col-sm-6 mb-4"><b>Zipcode: </b>{{project.zipcode}}</span>
            <span class="col-lg-6 col-md-12 col-sm-12 mb-4"><b>Completion Dtae: </b>{{project.completion}}</span>
        </div>
    </div>

    <div class="container d-flex align-items-center justify-content-evenly text-center mt-5">
        <div id="image-gallery" class="row col-lg-12 ">
            {% if project.photo_1 %}
                <img class="col-lg-6 mb-4" src="{{project.photo_1.url}}">
            {% endif %}
            {% if project.photo_2 %}
                <img class="col-lg-6 mb-4" src="{{project.photo_2.url}}">
            {% endif %}
            {% if project.photo_3 %}
                <img class="col-lg-6 mb-4" src="{{project.photo_3.url}}">
            {% endif %}
            {% if project.photo_4 %}
                <img class="col-lg-6 mb-4" src="{{project.photo_4.url}}">
            {% endif %}
            {% if project.photo_5 %}
                <img class="col-lg-6 mb-4" src="{{project.photo_5.url}}">
            {% endif %}
        </div>
    </div>
    <!-- <div id="project-text" class="d-flex col-lg-4 col-md-10 col-sm-12  justify-content-evenly">
        <span class="">{{ project.address }}</span><span>{{ project.address }}</span><span>{{ project.address }}</span><span>{{ project.address }}</span>
    </div>
     -->

    <!-- <div id="hero-projects" class="row">
      <div id="hero-text" class="col-12">
        <h1 class="display-2 fw-bold">BUILDING A GREENER FUTURE</h1>
        <p>Join us and embark on a livable future</p>
      </div>
    </div>
  </section>
  <div id="home-projects-end" class="ends"></div>
  <section id="projects" class="container-fluid">
    <div
      id="project-container"
      class="cust-cont-project row align-items-center justify-content-evenly gap-2"
    ></div> -->
  </section>
</main>

{% endblock%}
