{% extends 'base.html' %}
{% load static %}
{% block content %} 
<main>
    <section
      id="hero-container"
      class="d-flex align-items-center justify-content-center text-center"
    >
      <div id="hero" class="row">
        <div id="hero-text" class="col-12">
          <h1 class="display-4 fw-bold">Building with Integrity and Expertise</h1>
          <h5 id="sub-head-hero" class="">Committed to Excellence in Every Project, Big or Small.</h5>
        </div>
      </div>
    </section>
    <section id="services" class="container-fluid">
      <h2 class="px-5 mb-3 pt-4">Services</h2>
      <div
        id="services-container"
        class=" cust-cont row align-items-center justify-content-center mb-5 gap-5"
      >
        <div
          id="serv-profile-1"
          class="serv_profile col-lg-3 col-md-5 col-sm-10 col-10 "
        >
          <img
            class="img-serv img-fluid col-lg-12 col-md-12 col-sm-12 col-12"
            src="{% static 'images/renovation.jpg' %}"
            alt=""
          />
          <h4>Renovation</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium veniam et atque minus ratione nemo libero distinctio
            sed optio earum, unde provident praesentium odit placeat ea quod
            dolor architecto iusto?
          </p>
        </div>
        <div
          id="serv-profile-2"
          class="serv_profile col-lg-3 col-md-5 col-sm-10 col-10"
        >
          <img
            class="img-serv img-fluid col-lg-12 col-md-12 col-sm-12 col-12"
            src="{% static 'images/new-built.jpg' %}"
            alt=""
          />
          <h4>New-Built</h4>
          <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Accusantium veniam et atque minus ratione nemo libero distinctio
              sed optio earum, unde provident praesentium odit placeat ea quod
              dolor architecto iusto?
            </p>
        </div>
        <div
          id="serv-profile-3"
          class="serv_profile col-lg-3 col-md-5 col-sm-10 col-10"
        >
          <img
            class="img-serv img-fluid col-lg-12 col-md-12 col-sm-12 col-xs-12"
            src="{% static 'images/consultancy.jpg' %}"
            alt=""
          />
          <h4>Design and Consultancy</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Accusantium veniam et atque minus ratione nemo libero distinctio
            sed optio earum, unde provident praesentium odit placeat ea quod
            dolor architecto iusto?
          </p>
        </div>
      </div>
    </section>
    <section id="projects" class=" container-fluid">
      <!-- <h1 id="project-heading">Projects</h1> -->
      <section id="projects" class="container-fluid">
        <h2 class="px-5 pb-0 mb-0 pt-4">Featured Projects</h2>
        <div
      id="project-container"
      class="container-fluid d-flex align-items-center justify-content-center text-center mt-1"
    >
      <div class="row justify-content-center gap-5">
      {% if projects %} {% for project in projects %}
      <div
        class="proj-card col-lg-3 col-md-6 col-sm-10 col-10"
      >
        <img
          class="img-proj col-lg-12 col-md-12 col-sm-12 col-12 mb-0"
          src="{{project.photo_main.url}}"
          alt=""
        />
        <h3 class="text-start px-3 fs-4 pt-3">{{project.title}}</h3>
        <p class="text-start px-3">{{project.short_description}}</p>
        <a class="text-start px-3" href="{% url 'project' project.id %}">Learn More</a>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12">
        <p>No Listings Available</p>
      </div>
      {% endif %}
    </div>
    </div>
  </section>
</main>
{% endblock %}
