@import url(../css/manrope.css);

:root {
  --primary-green: #1d781d;
  --secondary-brown: #7b5e4d;
  --accent-beige: #e8e0d1;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  position: sticky;
  top: 0;
  background-color: var(--accent-beige);
  z-index: 3;
}

h1,
h2,
h3 {
  color: var(--primary-green);
  font-weight: 700;
}

p {
  color: rgb(50, 50, 50);
}

.bg-body-tertiary {
  background-color: green;
}

#logo{
  height: 50px;
  width: auto;
}

#hero-container {
  padding: 0;
}

#hero {
  background: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.521);
  z-index: 1;
}

#hero-text {
  position: relative;
  z-index: 2;
  color:var(--primary-green);
}

#hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


div > #services-container {
  margin-top: 2em;
  background-color: rgb(255, 255, 255);
}

.col-10{
    margin-right: 0;
}

.img-serv {
  margin-top: 1rem;
  object-fit: cover;
}

section > div> .serv_profile {
  box-shadow: 0px 12px 10px 2px rgba(120, 120, 120, 0.11);
}

section > div > .serv_profile:hover {
  transform: scale(105%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 12px 10px 2px rgba(120, 120, 120, 0.11);
}

section > div > .col-md-5{
  height: 39vh;
}

section > div > .col-sm-10{
  height: 45vh;
}

section > div > .col-lg-3{
  height: auto;
}

.serv_profile > h4{
  padding: 0.5em 1em ;
  margin: 0;
}

.proj_profile > h4{
  padding: 0.5em ;
  margin: 0;
}

.proj_profile > p{
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--accent-beige);
  padding: 1em;
  text-align: justify;
  font-size: small;
}

.proj_profile > p > a{
  justify-self: end;
  background-color: var(--accent-beige);
}
div > #pr#projects-container {
  margin-top: 5em;
  background-color: rgb(255, 255, 255);
}

#hero-projects {
  background: url(../images/hero-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  
}


#hero-projects-container {
  padding: 0;
}

.proj-card{
  background-color: white;
  box-shadow: 0px 12px 10px 2px rgba(120, 120, 120, 0.11);
  border-radius: 1rem;
  padding: 0 0 1.5rem 0;
  margin-top: 2rem;
}

 .img-proj {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  height: 30vh;
  margin-bottom: 1rem;
}

section > .cust-cont-project{
  height: 70vh;
}

.proj-card h4, a, p{
  padding: 0 1.5rem;
  text-align: left;
}


.proj-card a{
  text-decoration: none;
  color:grey ;
  float: left;
}

.proj-card p{
  text-align: justify;
}


#project-container{
  width: auto;
  margin-top: 5rem;
}

div > #text-heading > h1{
  text-align:left;
  font-size: 3rem;
  line-height: 3rem;
}

#text-heading{
  text-align: left;
}

#text-heading p{
  margin: 0;
  padding: 0;
}

#project-text > span{
  width: 100%;
  justify-items: center;
  font-size: medium;
}

img#photo-main{
  height: 60vh;
  object-fit: cover;
}

#text-info{
  font-size: medium;
  text-align: center;
  padding: 0 5rem;

}

#image-contact{
  background-image: url(../images/contact_bg.jpg);
  object-fit: cover;
  background-size: cover;
}

#overlay-img{
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 0;
}

#contact-us > h1{
  color: white;
}

#text-contact > div > h4{
  color: white;
}

#loc-container > p{
  color: white;
}

#loc-container{
  color: white;
  border-bottom: 1px solid white;
}

#button-contact{
  background-color: #1d781d;
}